<!-- Container -->
<div class="container">
    <div class="ri-simulator-content">
        <span class="ri-simulator-steps">{{vm.step}} de 4</span>
        <h3>Simule seus investimentos</h3>
        <p class="ri-simulator-intro">Qual é o seu próximo objetivo?</p>

        <div class="row">
            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('PATRIMONIO')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-money-bag"></span>
                    <span class="ri-simulator-objective-legend">Acumular patrimônio</span>
                </a>
            </div>
            <!-- End of column -->

            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('APOSENTADORIA')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-vacation"></span>
                    <span class="ri-simulator-objective-legend">Garantir minha aposentadoria</span>
                </a>
            </div>
            <!-- End of column -->

            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('CAR')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-car"></span>
                    <span class="ri-simulator-objective-legend">Comprar um carro</span>
                </a>
            </div>
            <!-- End of column -->

            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('IMOVEL')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-house"></span>
                    <span class="ri-simulator-objective-legend">Comprar um imóvel</span>
                </a>
            </div>
            <!-- End of column -->

            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('CHILDREN')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-baby-car"></span>
                    <span class="ri-simulator-objective-legend">Ter filhos</span>
                </a>
            </div>
            <!-- End of column -->

            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('BUSINESS')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-user"></span>
                    <span class="ri-simulator-objective-legend">Abrir um novo negócio</span>
                </a>
            </div>
            <!-- End of column -->

            <!-- Column -->
            <div class="col-md-3 col-sm-6">
                <a ng-click="vm.objectiveSelect('TRAVEL')" class="ri-simulator-objective-item" href="#">
                    <span class="icon-sprite icon-plain"></span>
                    <span class="ri-simulator-objective-legend">Viagem</span>
                </a>
            </div>
            <!-- End of column -->
        </div>
    </div>
</div>
<!-- End of container -->

<!--<h1>Seleção de Objetivo</h1>-->

<!--<p></p>-->


<!--<div class="objective" ng-click="vm.objectiveSelect('PATRIMONIO')">-->
    <!--<p>Acumulador de patrimonio</p>-->
<!--</div>-->
<!--<div class="objective" ng-click="vm.objectiveSelect('APOSENTADORIA')">-->
    <!--<p>Garantir minha aposentadoria</p>-->
<!--</div>-->
<!--<div class="objective" ng-click="vm.objectiveSelect('CAR')">-->
    <!--<p>Comprar um carro</p>-->
<!--</div>-->
<!--<div class="objective" ng-click="vm.objectiveSelect('IMOVEL')">-->
    <!--<p>Comprar um imovel</p>-->
<!--</div>-->
<!--<div class="objective" ng-click="vm.objectiveSelect('CHILDREN')">-->
    <!--<p>Ter filhos</p>-->
<!--</div>-->
<!--<div class="objective" ng-click="vm.objectiveSelect('BUSINESS')">-->
    <!--<p>Abrir um novo negocio</p>-->
<!--</div>-->
<!--<div class="objective" ng-click="vm.objectiveSelect('TRAVEL')">-->
    <!--<p>Viagem</p>-->
<!--</div>-->


