<!-- Container -->
<div class="container">
    <div class="ri-simulator-content">
        <h3>Simule seus investimentos</h3>
        <p class="ri-simulator-intro">Com base em suas respostas, estes são os investimentos que recomendamos realizar:</p>

        <a class="btn btn-lg btn-line-gray">{{vm.result.typeName}} {{vm.alert}}</a>
    </div>
</div>
<!-- End of container -->



<!--<h1>Resultado</h1>-->

<!--<p>{{vm.step}} de 4</p>-->



<!--<h3>SIMULE SEUS INVESTIMENTOS</h3>-->

<!--<p>Com base em suas respostas, estes são os investimentos que recomendamos realizar</p>-->

<!--<strong>{{vm.result.typeName}}</strong>-->
<!--<strong>{{vm.alert}}</strong>-->
<!--&lt;!&ndash;<p>{{vm.result.description}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>{{vm.result.priority}}</p>&ndash;&gt;-->



